@import "tailwindcss";


.error-x:hover{
    cursor: pointer;
    transform:scale(1.2);
}


@keyframes dotPulse {
  0%, 20% {
    color: transparent;
  }
  40% {
    color: currentColor;
  }
}

.loading-dots span:nth-child(1) {
  animation: dotPulse 1.4s infinite;
}

.loading-dots span:nth-child(2) {
  animation: dotPulse 1.4s infinite 0.2s;
}

.loading-dots span:nth-child(3) {
  animation: dotPulse 1.4s infinite 0.4s;
}